In [1]:
# Ambientando um HelloWorld

print ("Hello World")

Hello World

# SqlAlchemy é uma bibliotexa de ORM

- Conexão facil
- Mapeamento de Tabela com Classe (ORM)
- Resolve um conflito de tecnologias com paradigmas diferentes.
- tudo fique orientado a objetos

In [4]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\python\projetofinalnotbook\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\python\projetofinalnotbook\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\python\projetofinalnotbook\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [5]:
! pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [8]:
import pandas as pd

In [9]:
from sqlalchemy import create_engine

In [10]:
import pymysql

## Senha?

- user = "root"
- password = "senai@123"
- host = "localhost"
- database = "projetodiario1"

In [12]:
#biblioteca para converter e resolver problema do @

import urllib.parse

user = "root"
password = urllib.parse.quote_plus("senai@123")

# Qual o host e o banco?


host = "localhost"
database = "projetodiario1"


# conecction_string : string com TODAS as informaçoes da conexão
connection_string = f"mysql+pymysql://{user}:{password}@{host}/{database}"

# criando a conexao 
engine =  create_engine(connection_string)

# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno "

#Criar um DataFrame com a consulta SQL

df_alunos = pd.read_sql(query_alunos,engine)
df_alunos

    id        ra            Nome  tempoestudo  rendafamiliar
0    1  00000001            None            0            NaN
1    2  00000002            None            0            NaN
2    3  00000003            None            0            NaN
3    4  00000004            None            0            NaN
4    5  00000005            None            0            NaN
..  ..       ...             ...          ...            ...
70  71  00000071  Renato Ribeiro           12         4600.0
71  72  00000072  Juliana Santos            9         4700.0
72  73  00000073  Gustavo Araújo            8         4800.0
73  74  00000074    Camila Pires            7         4900.0
74  75  00000075   Daniela Nunes           10         5000.0

[75 rows x 5 columns]

# Bibliotecas para DATA Science

- Pandas (EDA - Analise Exploratoria de Dados)
- Scikit-Learn (Fundamentos de Inteligencia Artificial )
- NumPy ()